@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary-text: #D6D6D6;
  --color-secondary-text: #A5A5A5;
	--color-primary-background: #131416;
	--color-secondary-background: #202126;
  --color-highlight: #1E8543;
}

